/*------------------------ COLOR START------------------------*/
:root {
    --primary-color: #21282c;
    --secondary-color: #151c21;
    --success-color: #464a4d;
    --font-color-1: #9fa0a2;
    --font-color-2: #bcbdbe;
    --font-color-3: #ffffff;
    --danger-color: #e01838; 
}
/*------------------------ COLOR END------------------------*/
