/*------------------------ COLOR START------------------------*/
:root {
    --primary-color: #ffffff;
    --secondary-color: #1fa11f;
    --success-color: #a11fa1;
    --font-color-1: #888888;
    --font-color-2: #212529;
    --font-color-3: #ffffff;
    --danger-color: #e01838; 
}
/*------------------------ COLOR END------------------------*/

.notification {
    background-color: var(--success-color);
}